<div class="card">
	<div class="card-header"
			 style="display: flex; align-items: center; justify-content: space-between; font-weight: bold; text-transform: uppercase;">
		{{ 'application.new.candidate.title' | translate }}

		<div>
			<ng-container *ngIf="canStartModification && canEdit">
				<button *ngIf="!isEditMode"
								class="btn btn-sm btn-primary"
								(click)="edit()">
					{{ 'buttons.editCandidateData' | translate }}
				</button>

				<ng-container *ngIf="isEditMode">
					<button class="btn btn-sm btn-success"
									(click)="save()"
									[disabled]="!hasValidData">
						{{ 'buttons.saveCandidateData' | translate }}
					</button>

					<button class="btn btn-sm btn-danger ml-1"
									(click)="cancelEdit()">
						{{ 'buttons.cancelModification' | translate }}
					</button>
				</ng-container>
			</ng-container>
		</div>
	</div>
	<div class="card-body">
		<app-candidate-form [(model)]="model.candidatePart.entity"
												(isValidForm)="hasValidData = $event"
												[isEditMode]="isEditMode"></app-candidate-form>
	</div>
</div>
