<button type="button"
				class="btn btn-sm btn-primary mb-4 align-items-center"
				(click)="backClicked()">
	<app-icon icon="chevron-left"
						class="thicker-icon d-inline-flex"
						width="12"
						height="12"></app-icon>
	{{ 'buttons.back' | translate}}
</button>

<div *ngIf="model.commits.length > 0">
	<ng-container *ngFor="let commit of model.commits, let i = index">
		<p *ngIf="i == 0">История на промените по партида на лицето {{commit.candidateName}} ({{commit.country}},
			роден {{commit.birthDate | date: 'dd.MM.yyyy' }}).</p>
	</ng-container>
</div>

<table class="table search-table table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col"
					style="width: 16.6%;">{{ 'candidate.commitHistory.createDate' | translate }}</th>
			<th scope="col">{{ 'candidate.commitHistory.creatorUser' | translate }}</th>
			<th scope="col">{{ 'candidate.commitHistory.description' | translate }}</th>
			<th scope="col"
					style="width: 8%;">{{ 'candidate.commitHistory.actions' | translate }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let commit of model.commits">
			<td>{{ commit.createDate | date: 'dd.MM.yyyy, HH:mm:ss' }}ч.</td>
			<td>{{ commit.creatorUser.firstName }} {{ commit.creatorUser.lastName }},
				<a href="mailto:{{ commit.creatorUser.email }}">
					{{ commit.creatorUser.email}}
				</a>
			</td>
			<td>{{ commit.changeStateDescription }}</td>
			<td style="text-align: center;">
				<a [routerLink]="['/candidate', 'lot', commit.lotId, 'commit', commit.id]">
					<app-icon icon="search"
										width="14"
										height="14"></app-icon>
				</a>
			</td>
		</tr>
	</tbody>
</table>
