<div class="d-flex mt-3">
	<div style="margin-left: auto;">
		<button class="btn btn-sm btn-primary mr-3"
						type="button"
						style="display: inline-flex; align-items: center;"
						(click)="saveDraft()">
			<app-icon icon="pencil"
								class="mr-1"
								width="14"
								height="14"></app-icon>
			{{ 'buttons.save' | translate }}
		</button>

		<button class="btn btn-sm btn-danger mr-3"
						type="button"
						style="display: inline-flex; align-items: center;"
						(click)="deleteDraft()">
			<app-icon icon="trash"
								class="mr-1"
								width="14"
								height="14"></app-icon>
			{{ 'buttons.delete' | translate }}
		</button>
	</div>
</div>

<ng-container *ngIf="!isUniversityUser">
	<app-part-panel class="mt-3"
									header="{{ 'application.new.applicant.title' | translate }}">
		<app-applicant-form [(model)]="model.applicant"
												(isValidForm)="changeFormValidStatus('applicant', $event)"
												[isEditMode]="true"></app-applicant-form>
	</app-part-panel>
</ng-container>

<app-application-candidate-commit class="d-block mt-3"
																	[model]="model.candidateCommit"
																	[applicationCommitState]="commitStates.initialDraft"
																	(candidateCommitChanged)="model.candidateCommitId = $event"
																	[canEdit]="true">
</app-application-candidate-commit>

<app-part-panel class="mt-3"
								style="display: block;"
								header="{{ 'application.new.previousApplication.title' | translate }}">
	<app-previous-application-form [(model)]="model.previousApplication"
																 (isValidForm)="changeFormValidStatus('previousApplication', $event)"
																 [canAddPreviousApplication]="canAddPreviousApplication"
																 [lotId]="this.model.previousApplication.previousApplicationLotId"
																 [applicationCommitId]="this.model.previousApplication.previousApplicationCommitId"
																 [isEditMode]="true">
	</app-previous-application-form>
</app-part-panel>

<app-part-panel class="mt-3"
								style="display: block;"
								header="{{ 'application.new.representative.title' | translate }}">
	<app-representative-form [(model)]="model.representative"
													 (isValidForm)="changeFormValidStatus('representative', $event)"
													 [isEditMode]="true"></app-representative-form>
</app-part-panel>

<app-part-panel class="mt-3"
								style="display: block;"
								header="{{ 'application.new.education.title' | translate }}">
	<app-education-form [(model)]="model.education"
											(isValidForm)="changeFormValidStatus('education', $event)"
											[isEditMode]="true"
											[universityId]="model?.applicant?.institution?.id"></app-education-form>
</app-part-panel>

<app-part-panel class="mt-3"
								style="display: block;"
								header="{{ 'application.new.diploma.title' | translate }}">
	<app-diploma-form [(model)]="model.diploma"
										(isValidForm)="changeFormValidStatus('diploma', $event)"
										[educationalQualification]="model.education.educationalQualification"
										[isEditMode]="true"></app-diploma-form>
</app-part-panel>

<app-part-panel class="mt-3"
								style="display: block;"
								header="{{ 'application.new.training.titleTraining' | translate }}">
	<app-training-form [(model)]="model.training"
										 (isValidForm)="changeFormValidStatus('training', $event)"
										 [isEditMode]="true"
										 [specialityLanguage]="model.education.educationSpecialityLanguages"></app-training-form>
</app-part-panel>

<app-part-panel class="mt-3"
								style="display: block;"
								header="{{ 'application.new.taxes.titleTaxes' | translate }}">
	<app-taxes-form [(model)]="model.taxAccount"
									(isValidForm)="changeFormValidStatus('taxes', $event)"
									[isEditMode]="true"></app-taxes-form>
</app-part-panel>

<app-part-panel class="mt-3 mb-3"
								style="display: block;"
								header="{{ 'application.new.medicalCertificate.title' | translate }}">
	<app-medical-certificate-form [(model)]="model.medicalCertificate"
																(isValidForm)="changeFormValidStatus('medicalCertificate', $event)"
																[isEditMode]="true"
																[submissionDate]="model.representative.submissionDate"></app-medical-certificate-form>
</app-part-panel>

<app-part-panel class="mt-3 mb-3"
								style="display: block;"
								header="{{ 'application.new.documents.title' | translate }}">
	<app-documents-form [(model)]="model.document"
											(isValidForm)="changeFormValidStatus('documents', $event)"
											[isEditMode]="true"
											[educationalQualificationAlias]="model.education.educationalQualification?.alias"
											[applicantFullName]="model.applicant.firstName + ' ' + model.applicant.lastName">
	</app-documents-form>
</app-part-panel>

<div class="d-flex mt-3">
	<div style="margin-left: auto;">
		<button class="btn btn-sm btn-success mr-1"
						style="display: inline-flex; align-items: center;"
						(click)="createApplication()"
						[disabled]="!canSubmit">
			<app-icon icon="pencil"
								class="mr-1"
								width="14"
								height="14"></app-icon>
			{{ 'buttons.enter' | translate }}
		</button>

		<a class="btn btn-sm btn-danger"
			 style="display: inline-flex; align-items: center;"
			 (click)="cancel()">
			<app-icon icon="x"
								width="20"
								height="20"></app-icon>
			{{ 'buttons.cancel' | translate }}
		</a>
	</div>
</div>
