<div class="modal-header">
	<h4 class="modal-title">{{ 'user.changePassword.title' | translate}}</h4>
	<button type="button"
					class="close"
					aria-label="Close"
					(click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form #changePassword="ngForm">
	<div class="row mt-4">
		<div class="form-group col-sm-4 col-md-8 offset-md-2">
			<label class="d-inline-flex">
				{{ 'user.changePassword.oldPassword' | translate}}
			</label>
			<input #oldPassword="ngModel"
						 type="password"
						 name="oldPassword"
						 class="form-control form-control-sm"
						 [(ngModel)]="model.oldPassword"
						 pattern="{{passwordRegex}}"
						 required>
		</div>

		<div class="form-group col-sm-4 col-md-8 offset-md-2">
			<label class="d-inline-flex">
				{{ 'user.changePassword.newPassword' | translate}}
				<app-help-tooltip class="ml-1"
													tooltipText="Мин. 6 символа, цифра, главна и малка буква на латиница">
				</app-help-tooltip>
			</label>
			<input #newPassword="ngModel"
						 type="password"
						 name="newPassword"
						 class="form-control form-control-sm"
						 [(ngModel)]="model.newPassword"
						 pattern="{{passwordRegex}}"
						 required>
		</div>

		<div class="form-group col-sm-4 col-md-8 offset-md-2">
			<label class="d-inline-flex">
				{{ 'user.changePassword.newPasswordAgain' | translate}}
				<app-help-tooltip class="ml-1"
													tooltipText="Мин. 6 символа, цифра, главна и малка буква на латиница">
				</app-help-tooltip>
			</label>
			<input #passwordAgain="ngModel"
						 type="password"
						 name="passwordAgain"
						 class="form-control form-control-sm"
						 pattern="{{passwordRegex}}"
						 [(ngModel)]="model.newPasswordAgain"
						 (ngModelChange)="comparePasswords(model.newPasswordAgain)"
						 required>
		</div>
	</div>
</form>
<div class="modal-footer"
		 style="margin-top: 1em;">
	<button type="button"
					class="btn btn-primary"
					[disabled]="!changePassword.valid || arePasswordsEqual == false"
					(click)="change()">{{ 'user.changePassword.changeButton' | translate}}</button>
</div>
