<form #forgottenPassword="ngForm"
			style="padding: 3em; box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15)">

	<div class="text-center"
			 style="margin-top: 3em;">
		<h5>{{ 'user.forgottenPassword.title' | translate }}</h5>
	</div>

	<div class="row">
		<div class="form-group col-sm-12 col-md-4 offset-md-4 mt-3">
			<label class="d-inline-flex">
				{{ 'user.repeatable.email' | translate }}
				<!-- <app-validation-error-message *ngIf="mail.invalid"
																			class="ml-1"
																			[control]="mail"
																			[validationTexts]="validationTexts">
				</app-validation-error-message> -->
			</label>

			<input type="text"
						 #mail="ngModel"
						 name="mail"
						 class="form-control form-control-sm"
						 [(ngModel)]="model.mail"
						 pattern="{{emailRegex}}"
						 required>
		</div>

		<div class="col-sm-12 col-md-4 offset-md-4">
			<button class="btn btn-primary"
							style="width: 100%;"
							(click)="sendForgottenPassword()"
							[disabled]="!forgottenPassword.valid">
				{{ 'buttons.send' | translate }}
			</button>
		</div>

		<div class="form-group col-sm-12 col-md-4 offset-md-4 mt-2"
				 style="text-align: center;">
			<a [routerLink]="['/login']">
				{{ 'buttons.back' | translate }}
			</a>
		</div>
	</div>
</form>
