@import '~ngx-toastr/toastr.css';  

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --resc-primary-color: #005671;
}

html, body {
	overflow-x: hidden;
	height: 100%;
}

body {
  position: relative;
	font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  background-color: #ffffff;
}

.container {
	max-width: 1000px;
	min-width: 283px;
	position: relative;
	width: 100%;
}

.form-control:focus {
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group {
	margin-bottom: 5px;
}

.form-group label {
	font-size: 13px;
	font-weight: 300;
}

.center-up-btn::before {
	display: table;
	content: '';
}

.go-to-top {
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #4679b2;
	background-image: url(assets/ic_expand_less_white_24px.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48px;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 70px;
	margin: -35px auto 20px;
	text-align: center;
	width: 70px;
}

.files img {
	margin: 15px;
}

.invalid {
	border: 2px solid #A94442;
}

.ng-invalid.ng-touched:not(form) {
	border: 2px solid #A94442;
}

/* .panel a.blue-button.small {
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: 5px;
	text-transform: none;
} */

.panel-group {
	margin: 39px 0 15px;
}

.panel-group .panel+.panel {
	margin-top: 20px;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color: #000;
}

a:focus, header a.logo:hover {
	text-decoration: none;
}

a:hover, a:focus {
	color: inherit;
	cursor: pointer;
}

a[href$=".doc"]:after {
	content: '[doc]';
}

a[href$=".jpg"]:after, a[href$=".png"]:after, a[href$=".gif"]:after, a[href$=".jpeg"]:after {
	content: '[img]';
}

a[href$=".pdf"]:after {
	content: '[pdf]';
}

a[href$=".pdf"]:after, a[href$=".ppt"]:after, a[href$=".doc"]:after, a[href$=".xls"]:after, a[href$=".zip"]:after, a[href$=".jpg"]:after, a[href$=".png"]:after, a[href$=".gif"]:after, a[href$=".jpeg"]:after {
	display: inline-block;
	margin: 0 0 4px 8px;
	position: relative;
	vertical-align: middle;
}

a[href$=".ppt"]:after {
	content: '[ppt]';
}

a[href$=".xls"]:after {
	content: '[xls]';
}

a[href$=".zip"]:after {
	content: '[zip]';
}

button, a {
	outline: none;
}

button.btn-lang {
	border-radius: 8px!important;
	margin: 0 10px;
}

footer {
	background: #eee;
	margin-top: 80px;
	text-align: center;
	width: 100%;
}

footer .copyright {
	display: block;
	margin-bottom: 10px;
}

footer .links {
	margin: 20px 0;
}

footer .links a {
	display: inline-block;
	padding: 5px 10px;
	position: relative;
}

footer .links a+a:before {
	border-left: 1px solid #000;
	content: "";
	height: 15px;
	left: -1px;
	position: absolute;
	top: 6px;
	width: 1px;
}

footer .logo {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 10px 30px;
	width: 180px;
}

footer .logo img {
	display: block;
	margin: 0 auto 10px;
	width: 110px;
}

footer .logo span {
	display: block;
	font-size: 12px;
	line-height: 1;
	padding-top: 5px;
}

form label {
	color: #000;
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	margin: 10px 0 0;
}

h1 {
	font-size: 28px;
	font-weight: 300;
	line-height: 1em;
	margin: 10px 0;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1em;
	margin: 40px 0;
}

header {
	height: 105px;
}

header .btn-group {
	margin-top: 35px;
}

header .btn-group .btn-default {
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #ebf0f6;
	border-color: #ebf0f6;
	border-radius: 8px;
	font-size: 14px;
}

header .btn-group img {
	border: 1px solid #000;
	margin: 0 6px;
	max-width: 32px;
}

header a.logo {
	display: inline-block;
	margin: 10px auto;
}

header a.logo img {
	display: inline-block;
	width: 80px;
}

header a.logo strong {
	color: #4679b2;
	display: inline-block;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.1;
	margin-left: 3px;
	position: relative;
	text-transform: uppercase;
	top: 18px;
}

img {
	border: none;
	max-width: 100%;
}

@media (max-width: 767px) {
	header a.logo strong {
		top: 5px;
	}
}

@media (max-width: 479px) {
	.home-subheader h1 {
		font-size: 26px;
	}
	header {
		height: 85px;
	}
	header .btn-group {
		margin-top: 28px;
	}
	header .btn-group .btn-default {
		font-size: 12px;
	}
	header .btn-group img {
		margin: 0 2px;
	}
	header a.logo img {
		width: 60px;
	}
	header a.logo strong {
		font-size: 18px;
	}
}

@media (min-width: 1250px) {
	div>.modal-xl {
		width: 1200px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	div>.modal-xl {
		width: 932px;
	}
}

@media (max-width: 991px) {
	.form-group label {
		line-height: 14px;
	}
	.form-with-sections h2.section-heading {
		font-size: 18px;
	}
	div>.modal-xl {
		width: 708px;
	}
	header .menu {
		display: none;
	}
	header .mobile-menu {
		display: block;
	}
}

@media (max-width: 500px) {
	canvas {
		width: 250px;
	}
}