<ng-form>
	<div class="row">
		<div class="form-group col-sm-12 col-md-6">
			<label class="d-inline-flex align-items-center">
				{{ 'application.new.medicalCertificate.title' | translate }}
				<app-help-tooltip class="ml-1"
													tooltipText="Трябва да е издадено в едномесечен срок преди датата на кандидатстването и заверено от съответните органи в страната, от която лицето кандидатства">
				</app-help-tooltip>
			</label>

			<app-file-upload #attachedFile="ngModel"
											 name="attachedFile"
											 [(ngModel)]="model.file"
											 [disabled]="!isEditMode"
											 (ngModelChange)="model.issuedDate = null"
											 [required]="isEditMode"></app-file-upload>
		</div>

		<div class="form-group col-sm-12 col-md-2">
			<label class="d-inline-flex align-items-center">
				{{ 'application.new.medicalCertificate.dateOfIssue' | translate }}
				<app-help-tooltip class="ml-1"
													tooltipText="Трябва да е издадено в едномесечен срок преди датата на кандидатстването и заверено от съответните органи в страната, от която лицето кандидатства">
				</app-help-tooltip>
			</label>
			<div class="input-group input-group-sm">
				<input name="issuedDate"
							 class="form-control"
							 ngbDatepicker
							 [ngStyle]="{'border': issuedDate.status == 'INVALID' ? '1px solid #dc3545' : null}"
							 #issuedDate="ngModel"
							 #birthDatepicker="ngbDatepicker"
							 [minDate]="minissuedDate"
							 [maxDate]="maxissuedDate"
							 placeholder="дд/мм/гггг"
							 [(ngModel)]="model.issuedDate"
							 (keypress)="sharedService.filterDate($event)"
							 [disabled]="!isEditMode"
							 validDate
							 required
							 maxlength="20">
				<div class="input-group-append">
					<button class="btn btn-sm btn-outline-primary"
									(click)="birthDatepicker.toggle()"
									type="button"
									[disabled]="!isEditMode">
						<app-icon icon="calendar2-event"
											width="12"
											height="12"></app-icon>
					</button>
				</div>
			</div>
		</div>
	</div>

</ng-form>
